.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.h2-image {
    width: 100%; 
    height: auto; 
    display: block; 
}


/* 既存のスタイルを維持 */
body {
    font-family: 'Noto Sans JP', sans-serif; /* ここで新しいフォントを指定します */
    font-size: 20px; /* この行を追加。デフォルトのフォントサイズを18pxに設定 */
}


#exampleText {
    font-style: italic;
    margin-left: 10px;
}


  .author-icon {
    width: 100%;  /* 画像の幅を50pxに指定 */

}



#samplesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* サンプルの間のスペース */
    width: 100%;
    overflow: hidden;
    align-items: center; 

}



.sampleCard {
    display: flex;
    flex-direction: column;  /* カード内のコンテンツを縦方向に並べる */
    border: 1px solid #ccc;
    padding: 1px 10px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 120px;  /* カードの幅を設定 */
    height: 150px;  /* カードの高さを設定 */
    float: left;  
    align-items: center; 
    text-align: center; 
    cursor: pointer; 
    transition: transform 0.1s, box-shadow 0.1s; 
    margin: 0 10px; 
    font-size: 16px;  /* フォントサイズを調整 */
    margin-top: 20px;    /* 上部の余白を20px増やす */
    margin-bottom: 20px; /* 下部の余白を20px増やす */
}


.sampleCard:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* ホバー時の影 */
}

.sampleCard:active {
    transform: scale(0.97); /* クリック時の縮小 */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


textarea {
    width: 100%; /* テキストエリアの幅を100%に設定して、親要素の幅に合わせる */
    height: 120px;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    resize: vertical;
    box-sizing: border-box; /* パディングとボーダーを含めて要素のサイズを計算 */
}

.textareas-container {
    display: flex;
    flex-direction: column; /* この行を追加 */
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 100%; 
}

.input-area, .output-area {
    flex: 1; /* 各エリアを均等に分割 */
    width: 100%; 
    padding: 0 10px; /* 両側のパディングでテキストボックス間のスペースを確保 */
}

.output-area {
    text-align: center; /* テキストアラインメントを中央寄せに変更 */
    display: flex;
    flex-direction: column;
    align-items: center; /* アイテムを中央寄せに変更 */
    gap: 5px; /* ボタンとテキストボックスの間隔を調整 */
}

.input-area {
    text-align: center; /* テキストアラインメントを中央寄せに変更 */
    display: flex;
    flex-direction: column;
    align-items: center; /* アイテムを中央寄せに変更 */
    gap: 25px; /* ボタンとテキストボックスの間隔を調整 */
}


.output-container {
    display: flex;
    flex-direction: column; /* 縦方向に要素を配置 */
    gap: 0px; /* コピーボタンとテキストボックスの間隔を開ける */
}

button {
    margin-top: 20px;
}
.dummy-button {
    visibility: hidden; /* ボタンは非表示になりますが、そのスペースは保持されます */
    margin-top: 20px;

}
.twitter-timeline {
    width: 100%;   
}
